.reveal p {
  margin-top: 15px;
  margin-bottom: 25px;
  line-height: 1.2em;
  font-size: 0.5em;
}

.rise-enabled .prompt {
  font-size: 0.6em !important;
}

.rise-enabled .reveal pre {
  font-size: 0.7em !important;
  line-height: 1.7em;
}

.reveal h1 {
  line-height: 1.8em;
}

.reveal .rendered_html * + ul {
  margin-top: 10px;
  margin-bottom: 15px;
}

.reveal li{
  font-size: 0.5em;
}

.reveal code{
  font-size: 0.8em;
}

.reveal table {
  font-size: 0.6em;
}
.rise-enabled .text_cell.rendered .rendered_html table {
  font-size: 0.5em;
}


.widget-hbox .widget-label {
  max-width: 600px !important;
  text-align: left !important;
  padding-left: 15px !important;
}
